:root {
    --primary-color: #F5EFE6;
    --background-color: #696FC7;
    --quote-background-color: #A7AAE1;
    --hover-button-color: #E3E3E3;
    --button-color: #F1F3E0;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main form label {
    font-size: larger;
    padding: 0.5rem 0;
    font-weight: 900;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
    min-width: 50%;
}

main form #topic {
    background-color: white;
    text-decoration: none;
    min-height: 2.5rem;
    text-align: center;
    font-size: large;
    font-weight: 500;
    border-radius: 0.5rem;
}

main form #get-quote-button {
    background-color: var(--button-color);
    min-height: 2.5rem;
    text-align: center;
    font-size: large;
    font-weight: 500;
    border-radius: 0.5rem;
}

main form #get-quote-button:hover {
    background-color: var(--hover-button-color);
}

output {
    display: flex;
    justify-content: center;
    min-width: 50%;
    padding: 1rem;
    margin: 1rem;
    flex-direction: column;
    border: 2px solid white;
    background-color: var(--quote-background-color);
    color: white;
    font-size: larger;
    border-radius: 0.25rem;
}

output figcaption {
    align-self: flex-end;
}

